---
BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: false